In [1]:
import warnings
warnings.filterwarnings("ignore") #To avoid warnings.
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("NY-House-Dataset.csv")
df

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,Brokered by COMPASS,Co-op for sale,599000,1,1.000000,2184.207862,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York,New York County,New York,Manhattan,222,"222 E 80th St #3a, New York, NY 10075, USA",40.774350,-73.955879
4797,Brokered by Mjr Real Estate Llc,Co-op for sale,245000,1,1.000000,2184.207862,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,New York,Queens County,Queens,62nd Drive,"97-40 62nd Dr, Rego Park, NY 11374, USA",40.732538,-73.860152
4798,Brokered by Douglas Elliman - 575 Madison Ave,Co-op for sale,1275000,1,1.000000,2184.207862,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,New York,New York County,New York,West 21st Street,"427 W 21st St, New York, NY 10011, USA",40.745882,-74.003398
4799,Brokered by E Realty International Corp,Condo for sale,598125,2,1.000000,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,Queens County,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.742770,-73.872752
4800,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.000000,750.000000,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.579147,-73.970949

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   BROKERTITLE                  4801 non-null   object
 1   TYPE                         4801 non-null   object
 2   PRICE                        4801 non-null   int64
 3   BEDS                         4801 non-null   int64
 4   BATH                         4801 non-null   float64
 5   PROPERTYSQFT                 4801 non-null   float64
 6   ADDRESS                      4801 non-null   object
 7   STATE                        4801 non-null   object
 8   MAIN_ADDRESS                 4801 non-null   object
 9   ADMINISTRATIVE_AREA_LEVEL_2  4801 non-null   object
 10  LOCALITY                     4801 non-null   object
 11  SUBLOCALITY                  4801 non-null   object
 12  STREET_NAME                  4801 non-null   object
 13  LONG_NAME                    4801 non-null   object
 14  FORMATTED_ADDRESS            4801 non-null   object
 15  LATITUDE                     4801 non-null   float64
 16  LONGITUDE                    4801 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 637.8+ KB

In [5]:
df.nunique()

BROKERTITLE                    1036
TYPE                             13
PRICE                          1274
BEDS                             27
BATH                             22
PROPERTYSQFT                   1445
ADDRESS                        4582
STATE                           308
MAIN_ADDRESS                   4583
ADMINISTRATIVE_AREA_LEVEL_2      29
LOCALITY                         11
SUBLOCALITY                      21
STREET_NAME                     174
LONG_NAME                      2731
FORMATTED_ADDRESS              4550
LATITUDE                       4196
LONGITUDE                      4118
dtype: int64

In [358]:
col = ['TYPE','BEDS','BATH','STATE','ADMINISTRATIVE_AREA_LEVEL_2','LOCALITY','SUBLOCALITY','STREET_NAME','PRICE']
df1 = df[col]
newdf = pd.get_dummies(df1,dtype=int)
newdf

,BEDS,BATH,PRICE,TYPE_Co-op for sale,TYPE_Coming Soon,TYPE_Condo for sale,TYPE_Condop for sale,TYPE_Contingent,TYPE_For sale,TYPE_Foreclosure,...,STREET_NAME_West 65th Street,STREET_NAME_West Brighton,STREET_NAME_West Bronx,STREET_NAME_Westchester Square,STREET_NAME_Whitestone,STREET_NAME_Williamsburg,STREET_NAME_Windsor Terrace,STREET_NAME_Woodhaven,STREET_NAME_Woodside,STREET_NAME_Woodstock
0,2,2.000000,315000,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,10.000000,195000000,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,2.000000,260000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1.000000,69000,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7,2.373861,55000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,1,1.000000,599000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4797,1,1.000000,245000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4798,1,1.000000,1275000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4799,2,1.000000,598125,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4800,1,1.000000,349000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [359]:
x = newdf.drop(columns = ['PRICE'])
y = newdf['PRICE']

In [368]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33)

In [369]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)
print(model.score(x_train,y_train))
print(model.score(x_test,y_test))

0.4673857374283862
0.9902668168559733

In [370]:
from sklearn.linear_model import Lasso
reg1 = Lasso(alpha= 25,max_iter=100,tol= 0.1)
reg1.fit(x_train,y_train)
print(reg1.score(x_train,y_train))
print(reg1.score(x_test,y_test))

0.4838040403856715
0.003951339565320011

In [371]:
from sklearn.linear_model import Ridge
reg2 = Ridge(alpha= 25,max_iter=100,tol= 0.1)
reg2.fit(x_train,y_train)
print(reg2.score(x_train,y_train))
print(reg2.score(x_test,y_test))

0.42927927830850543
0.003252831256607247

In [372]:
from sklearn.linear_model import LogisticRegression
loc = LogisticRegression()
loc.fit(x,y)
print(loc.score(x_train,y_train))
print(loc.score(x_test,y_test))

0.228544776119403
0.2277602523659306